ion-card {
    margin: 5px;
    height: 98%;
    cursor: pointer;
}

img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-img {
    height: 200px;
    width: auto;
}

/* ion-card-header {
    height: 10em;
} */

ion-card-header p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }