<div class="search-content">
  <ion-input autocomplete="on" class="search" type="text" placeholder="Buscar productos..." (keyup.enter)="searchRouter()" [(ngModel)]="searchArticles"> </ion-input>
  <ion-button slot="end" fill="clear" aria-label="search" (click)="searchRouter()">
      <ion-icon *ngIf="!searchInProcess" slot="icon-only" size="large" name="search" color="negro1"></ion-icon>
      <ion-spinner *ngIf="searchInProcess" name="bubbles" color="negro1"></ion-spinner>
  </ion-button>
</div>
