ion-item {
    height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search {
    width: 100%;
    height: 40px;
    --padding-start: 10px !important;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.button-search{
    margin-right: -16px;
}