<app-menu-main *ngIf="glb.isMobile"></app-menu-main>
<ion-header mode="ios">
  <ion-toolbar color="amarillo" class="no-border">
    <ion-buttons style="width: 48px;" slot="start" *ngIf="glb.isMobile">
      <ion-back-button defaultHref="/" mode="md" text="" *ngIf="router.url!='/'"></ion-back-button>
      <ion-button (click)="goToLandingPage()" *ngIf="router.url=='/'">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-toolbar color="amarillo" class="no-border border-radius ion-no-padding">
            <ion-buttons style="width: 100%;">
              <div *ngIf="!glb.isMobile" class="center-image" slot="start" (click)="goToLandingPage()">
                <ion-img class="img-logo" src="assets/img/logo1.png" alt="logo web"></ion-img>
              </div>
              <div *ngIf="glb.isMobile" class="center-image width-44" slot="start" (click)="goToLandingPage()">
                <ion-img *ngIf="glb.isMobile" class="img-logo" src="assets/icon/favicon1.png" alt="logo mobile"></ion-img>
              </div>
              <app-search-main></app-search-main>
            </ion-buttons>
            <ion-buttons slot="end" class="prom-main-header" class="ion-no-padding">
              <ion-button slot="end" *ngIf="!glb.isMobile" fill="outline" shape="round" style="padding-left: 10px;">
                No te pierdas las mejores ofertas
              </ion-button>
              <!-- <ion-menu-toggle id="menu-main" *ngIf="glb.isMobile">
                <ion-button aria-label="main-menu">
                  <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
                </ion-button>
              </ion-menu-toggle> -->
              <!-- <ion-button *ngIf="glb.isMobile" fill="clear" aria-label="cart">
                <ion-icon slot="icon-only" name="cart-outline" size="large"></ion-icon>
              </ion-button> -->
              <ion-button id="click-trigger">
                <ion-icon slot="icon-only" name="person-outline"></ion-icon>
              </ion-button>
              <ion-button *ngIf="glb.idUser !== 0" fill="clear" aria-label="cart" [routerLink]="['/cart']" class="cart-button-container">
                <ion-icon slot="icon-only" name="cart-outline" size="large"></ion-icon>
                <ion-badge *ngIf="glb.cartAmount" slot="end" class="cart-badge">{{ glb.cartAmount }}</ion-badge>
              </ion-button>              
              <ion-popover trigger="click-trigger" triggerAction="click" class="popover">
                <ng-template>
                  <app-menu-user></app-menu-user>
                </ng-template>
              </ion-popover>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar color="amarillo" class="no-border ion-no-padding">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <app-header-main-sub></app-header-main-sub>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
