.no-border {
    --border-color: transparent;
  }
  
  .border-radius {
    border-radius: 5px;
  }
  
  .center-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 44px;
    cursor: pointer;
  }
  
  .width-44 {
    width: 44px;
  }
  
  .img-logo {
    height: 40px;
    margin: 0px 5px 0px 5px;
  }
  
  .prom-main-header{
    margin-left: 10px;
  }

  app-search-main{
    width: 100%;
  }

  .popover{
    --min-width: 350px;
  }

  .cart-button-container {
    position: relative; /* Asegúrate de que el contenedor del botón sea relativo */
  }
  
  .cart-badge {
    position: absolute;
    top: -0.5px; 
    right: -5px; 
    background: #ff0000;
    color: #fff; 
    width: 50%; 
    height: 55%; 
    font-size: 70%; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%; /* Asegura que el padding no afecte el tamaño */
  }
  
  