<app-header-main></app-header-main>
<ion-content *ngIf="!isCart">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>Confirmar Compra</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <p>
          <strong>Producto:</strong> {{ productInfo?.Nombre }}<br>
          <strong>Precio Unidad:</strong> {{ formatPrice(productInfo?.PrecioUnit) }}<br>
          <strong>Método de Entrega:</strong> {{ productInfo?.deliveryMethod }}<br>
          <strong>Método de Pago:</strong> {{ productInfo?.paymentMethod }}<br>
          <strong>Cantidad:</strong> {{ productInfo?.Cantidad }}<br>
          <strong>Total:</strong> {{ calculateTotal() }}
        </p>
      </ion-col>
      <ion-col size="6">
        <ion-img [src]="productInfo?.ImagenPrin"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" shape="round" mode="ios" color="primary" (click)="buyNow()">
          Confirmar Compra
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-content *ngIf="isCart">
  <ion-grid fixed>
    
      <ion-row>
        <ion-card *ngFor="let producto of productos" class="card-product">
            <p>
              <strong>Nombre:</strong> {{ producto.details?.Nombre }}<br>
              <strong>Precio Unidad:</strong> {{ formatPrice(producto.details?.PrecioUnit) }}
            </p>
            <ion-img [src]="producto.details?.ImagenPrin" alt="{{ producto.details?.Nombre }}"></ion-img>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" shape="round" mode="ios" color="primary" (click)="buyNowCart()">
            Confirmar Compra
          </ion-button>
        </ion-col>
      </ion-row>
    
  </ion-grid>
</ion-content>

