<app-header-main></app-header-main>
<ion-content *ngIf="!isCart">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>Confirmar Compra</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Ajustar tamaños para diferentes puntos de interrupción -->
      <ion-col size="12" size-md="6" size-lg="8">
        <p>
          <strong>Producto:</strong> {{ productInfo?.Nombre }}<br>
          <strong>Marca:</strong> {{ productInfo?.Marca }}<br>
          <strong>Modelo:</strong> {{ productInfo?.Modelo }}<br>
          <strong>Precio Unidad:</strong> {{ formatPrice(productInfo?.ValorUnt) }}<br>
          <strong>Método de Entrega:</strong> {{ productInfo?.DeliveryMethod }}<br>
          <strong>Método de Pago:</strong> {{ productInfo?.PaymentMethod }}<br>
          <strong>Cantidad:</strong> {{ productInfo?.Stock }}<br>
          <strong>Total:</strong> {{ calculateTotal() }}
        </p>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-img [src]="productInfo?.UrlFotos"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" shape="round" mode="ios" color="primary" (click)="buyNow()">
          Confirmar Compra
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="isCart">
  <ion-grid fixed>
    <ion-row>
      <ion-card *ngFor="let producto of productos" class="card-product">
        <p>
          <strong>Nombre:</strong> {{ producto.details?.Titulo }}<br>
          <strong>Precio Unidad:</strong> {{ formatPrice(producto.details?.ValorUnt) }}
        </p>
        <ion-img [src]="producto.details?.UrlFotos[0]" alt="{{ producto.details?.Nombre }}"></ion-img>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" shape="round" mode="ios" color="primary" (click)="buyNowCart()">
          Confirmar Compra
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>