ion-toolbar {
    --background: #fff;
    --border-color: #fff;
}

ion-text {
    font-size: small;
}

ion-label {
    font-size: small;
}

.no-border {
    --border-color: transparent;
}

ion-button {
    font-size: small;
}

/* Por defecto, el botón está oculto */
.show-on-small {
    display: none;
}

/* Cuando el ancho de la pantalla es 767px o menos, el botón se muestra */
@media (max-width: 767px) {
    .show-on-small {
        display: block;
    }
}
