ion-toolbar {
    --background: #fff;
    --border-color: #fff;
}

ion-text{
    font-size: small;
}

ion-label{
    font-size: small;
}

.no-border {
    --border-color: transparent;
}

ion-button {
    font-size: small;
}

