<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="funnel" slot="start"></ion-icon>
            Filtros
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Ordenar por</ion-label>
              <ion-select>
                <ion-select-option value="1">Más reciente</ion-select-option>
                <ion-select-option value="2">Menor precio</ion-select-option>
                <ion-select-option value="3">Mayor precio</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Marca</ion-label>
              <ion-select>
                <ion-select-option value="1">Marca 1</ion-select-option>
                <ion-select-option value="2">Marca 2</ion-select-option>
                <ion-select-option value="3">Marca 3</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Categoría</ion-label>
              <ion-select>
                <ion-select-option value="1">Categoría 1</ion-select-option>
                <ion-select-option value="2">Categoría 2</ion-select-option>
                <ion-select-option value="3">Categoría 3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
