.card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    min-width: 350px;
    border-radius: 15px;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-logo{
    max-width: 300px;
}