<ion-content mode="ios">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="card-container">
        <ion-card class="card-login">
          <div class="img-container">
            <ion-img class="image-logo" src="../../../assets/img/logo1.png"></ion-img>
          </div>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <ion-item>
              <ion-input label="Correo/Documento/Teléfono" labelPlacement="stacked" type="text" ngModel name="username"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-input label="Contraseña" labelPlacement="stacked" type="password" ngModel name="password"></ion-input>
            </ion-item>
        
            <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Iniciar sesión</ion-button>
          </form>
          <ion-button expand="block" color="medium" (click)="goToRegister()">Crear cuenta</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
