<ion-grid class="ion-no-padding" mode="ios">
  <ion-row>
    <ion-col size="12">

      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title mode="ios">Filtros</ion-card-title>
        </ion-card-header>
        <ion-list>
          <ion-item lines="none">
            <ion-label><strong>Ordenar por:</strong> </ion-label>
          </ion-item>
          <ion-item>
            <ion-radio-group [(ngModel)]="glb.orderArticles" (ionChange)="filter()">
              <ion-radio value="masRelevante">Más relevantes</ion-radio><br />
              <ion-radio value="menorPrecio">Menor precio</ion-radio><br />
              <ion-radio value="mayorPrecio">Mayor precio</ion-radio><br />
            </ion-radio-group>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item lines="none">
            <ion-label><strong>Categorías:</strong> </ion-label>
          </ion-item>
          <ion-item *ngFor="let category of glb.categories">
            <ion-checkbox (ionChange)="categoryChecked(category.IdCategoria, $event)">{{category.Nombre}}</ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>
