<app-header-main></app-header-main>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>Seleccione el Método de Pago</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" shape="round" mode="ios" color="primary" (click)="selectMethod('Wompi')">
          Wompi
        </ion-button>
        <ion-button expand="block" shape="round" mode="ios" color="secondary" (click)="selectMethod('Otro')">
          Otro
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>