<div *ngIf="!glb.isMobile">
  <ion-button fill="clear" size="small" color="negro1" aria-label="location">
    <ion-icon slot="start" name="location-outline"></ion-icon>
    <p class="ion-no-margin ion-text-start">
      Enviar a David<br>
      Carrera 15 # 93-75
    </p>
  </ion-button>
  <ion-button fill="clear" size="small" color="negro1">
    Categorias
  </ion-button>
  <ion-button fill="clear" size="small" color="negro1">
    Ofertas
  </ion-button>
</div>
<div *ngIf="glb.isMobile">
  <ion-button fill="clear" size="small" color="negro1" aria-label="location">
    <ion-icon slot="start" name="location-outline"></ion-icon>
    Ingresa tu ubicación
  </ion-button>
</div>
