.avatar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.list-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-item{
    cursor: pointer;
}